<!DOCTYPE html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>I Choose You! Pok&eacute;-valentie creator! </title>
  <meta name="description" content="I Choose You!">
  <meta name="author" content="Devin Hunt &amp; Jenny Blair">

  <link rel="stylesheet" href="media/css/screen.css?v=1">
  <script src="media/script/lib/modernizr-1.6.min.js"></script>
  
  

</head>

<body>

    <div id="container">
        <div id="inner-container">
            <div id="main-continer">
                <header id="main-header">
                    <a href="/">
                    <h1>I Choose You!</h1>
                    </a>
                </header>
    
                <hr />
    
                <div id="main">
                    
                    <article id="ichooseyou">

                        <section id="landing" class="hidden page">
                            <p class="what">
                                Make your valentine an e-card they won't forget!
                            </p>
                            <p class="get-started">
                                <button class="big-button">Get Started!</button>
                            </p>

                            <p>Share it with friends!</p>
                            <div class="share">        

                                <div class="twitter">
                                    <a href="http://twitter.com/share" class="twitter-share-button" data-text="This Valentine's Day use &quot;I Choose You!&quot; It's super effective!" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                                </div>

                                <div class="fb">
                                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fichooseyou.hailpixel.com&amp;layout=box_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:65px;" allowTransparency="true"></iframe>
                                </div>
                            </div>

                        </section>

                        <section id="editor" class="hidden page">

                        </section>

                        <section id="stage" class="hidden page">
                            <div class="card-container">
                            </div>
                            <div class="share">
                                <span>Share this card!</span> <input class="share-link text" type="text" value="loading.."/>
                            </div>
                            <div class="tweet-share">
                            </div>
                        </section>

                    </article>
                    
                </div>
        
                <hr />
    
                <footer id="main-footer">
                    <p>This is a 48 hour project that 
                        <a href="http://twitter.com/hailpixel">Devin Hunt</a> and <a href="http://twitter.com/IDoDoodles">Jenny Blair</a> made this for Valentines Day!</p>
                    <p>
                        Checkout the hastly crafted code on <a href="http://github.com/devinhunt/i-choose-you">github</a>.
                    </p>
                    <p class="subtle">
                        All image &#169; the creators. Inspired by Pok&eacute;mon. 
                    </p>
                </footer>
                <hr />
            </div>
        </div>
        <div class="cloud cloud-right"></div>
        <div class="cloud cloud-left"></div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="media/script/lib/jquery-1.5.0.min.js"%3E%3C/script%3E'))</script>
    
    <script src="media/script/lib/jquery.bitly.js"></script>
    <script src="media/script/lib/underscore.js"></script>
    <script src="media/script/lib/backbone.js"></script>
    <script src="media/script/ichoose.js"></script>
  
    <!--[if lt IE 7 ]>
    <script src="/script/lib/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
    <![endif]-->

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17489176-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
      
    <script id="template_card" type="text/html">
    <div class="inner">
    <div class="heart-icon"></div>
    <h1 class="name"></h1>
    <div class="character">
    <% _.each(layers,function (set, key) { %>
      <% if(key != 'name' && key != 'description') { %>
      <div class="layer <%= key %>">
          <img />
      </div>
      <% } %>
    <% }); %>
    </div>
    <div class="description">
      <p>

      </p>
    </div>
    </div>
    </script>

    <script id="template_editor_ui" type="text/html">
    <div class="workbench">
      <div class="composition">

      </div>
    </div>

    <div class="toolbox">
      <div class="cardtext option name">
          <span>Valentine&#39;s Name</span>
          <input class="text" type="text" />
      </div>
      <div class="parts option">
          <nav>
              <% _.each(parts, function (set, key) { %> <a class="<%= key %>" data-type="<%= key %>"><%= key %></a> <% }); %>
          </nav>
          <div class="tray">
          <% _.each(parts, function (set, key) { %>
              <div class="items hidden <%= key %>">
              <% _.each(set, function (item) { %> 
                  <a class="part" data-part-type="<%= key %>" data-part-id="<%= item.id %>">
                  <img src="<%= item.icon %>" />
                  </a>
              <% }); %>
                  <div class="break"></div>
              </div>
          <% }); %>
          </div>
      </div>
      <div class="cardtext option description">
          <span>Pok&eacute;-message</span>
          <textarea></textarea>
      </div>
      <div class="controls">
          <button class="publish big-button">Done!</button>
          <hr />
      </div>
    </div>
    </script>
      
  
</body>
</html>