{% extends "base.html" %}

{% block main %}

<article id="ichooseyou">
    
    <section id="landing" class="hidden page">
        <p class="what">
            Make you valentine an e-card they won't forget!
        </p>
        <p class="get-started">
            <button class="big-button">Get Started!</button>
        </p>
        
    </section>
    
    <section id="editor" class="hidden page">
        
    </section>

    <section id="stage" class="hidden page">
        <div class="card-container">
    </section>
    
</article>

{% endblock %}