<script id="template_card" type="text/html">
    <h1 class="name"></h1>
    <div class="tinemon">
    <% _.each(layers,function (set, key) { %>
        <% if(key != 'name' && key != 'description') { %>
        <div class="layer <%= key %>">
            <img />
        </div>
        <% } %>
    <% }); %>
    </div>
    <div class="description">
        <p>
        
        </p>
    </div>
</script>

<script id="template_editor_ui" type="text/html">
    <div class="workbench">
        <div class="composition">
            
        </div>
    </div>
    
    <div class="toolbox">
        <nav>
            <% _.each(parts, function (set, key) { %> <a class="<%= key %>" data-type="<%= key %>"><%= key %></a> <% }); %>
        </nav>
        <div class="tray">
        <% _.each(parts, function (set, key) { %>
            <div class="items hidden <%= key %>">
            <% _.each(set, function (item) { %> 
                <a class="part" data-part-type="<%= key %>" data-part-id="<%= item.id %>">
                <img src="<%= item.icon %>" />
                <%= item.name %>
                </a>
            <% }); %>
            </div>
        <% }); %>
        </div>
        <div class="cardtext">
            Name your pokemon <input class="text name" type="text" />
            Give it a message <textarea class="description"></textarea>
        </div>
        <div class="controls">
            <a class="publish">Done!</a>
            <a class="randomize">Randomize Your Pokemon</a>
        </div>
    </div>
</script>
