<script id="template_card" type="text/html">
    <h1 class="name"></h1>
    <div class="character">
    <% _.each(layers,function (set, key) { %>
        <% if(key != 'name' && key != 'description') { %>
        <div class="layer <%= key %>">
            <img />
        </div>
        <% } %>
    <% }); %>
    </div>
    <div class="description">
        <p>
        
        </p>
    </div>
</script>

<script id="template_editor_ui" type="text/html">
    <div class="workbench">
        <div class="composition">
            
        </div>
    </div>
    
    <div class="toolbox">
        <div class="cardtext option name">
            <span>Name it</span>
            <input class="text" type="text" />
        </div>
        <div class="parts option">
            <nav>
                <% _.each(parts, function (set, key) { %> <a class="<%= key %>" data-type="<%= key %>"><%= key %></a> <% }); %>
            </nav>
            <div class="tray">
            <% _.each(parts, function (set, key) { %>
                <div class="items hidden <%= key %>">
                <% _.each(set, function (item) { %> 
                    <a class="part" data-part-type="<%= key %>" data-part-id="<%= item.id %>">
                    <img src="<%= item.icon %>" />
                    </a>
                <% }); %>
                </div>
            <% }); %>
            </div>
        </div>
        <div class="cardtext option description">
            <span>Description</span>
            <textarea></textarea>
        </div>
        <div class="controls">
            <button class="publish big-button">Done!</button>
            <hr />
        </div>
    </div>
</script>
